[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.7.9" # FIXME: Flake8 is not available for python 3.8 yet (2019-11-17)
coverage = "==4.5.4"
model-mommy = "==2.0.0"
coveralls = "==2.0.0"
freezegun = "==0.3.15"

[packages]
django = "==3.0.5"
djangorestframework = "==3.11.0"
psycopg2-binary = "==2.8.4"
coreapi = "==2.3.3"
django-cors-headers = "==3.2.0"

[requires]
python_full_version = "3.8.2"
