[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.6.0"
coverage = "==4.5.4"
model-mommy = "==1.6.0"
coveralls = "==1.8.2"
freezegun = "==0.3.12"

[packages]
django = "==2.2.4"
djangorestframework = "==3.10.2"
psycopg2-binary = "==2.8.3"
coreapi = "==2.3.3"
django-cors-headers = "==3.0.2"

[requires]
python_version = "3.6"
